<?xml version="1.0"?>
<launch>
    <!--<include file="$(find freenect_launch)/launch/freenect.launch"/>-->
    
    <node name="tracking" pkg="tracking" type="deep.py" output="screen">
        <param name="image_topic" value="/kinect_one/rgb/image_color" />
        <param name="point_cloud_topic" value="/kinect_one/depth/points" />
    </node>
    <node name="frame" pkg="tracking" type="frame.py" output="screen"> </node>

</launch>
 